# Config for making u-tic & u-fix
VERSION = 0.9.09
# Where to place configuration files
CONFPATH = /etc/ifmail/u-tic
# Where to place executables and Perl libraries
EXECPATH = /usr/local/lib/ifmail/u-tic
# owner and group for files to be installed
OWNER = fnet
GROUP = news
# C name and flags
CC = shlicc2
CCFLAGS = -Wall -O
# Misc utilities
TAR = tar
INSTALL = install
